<body>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light shadow-sm" style="background-color: #F6F6F6;">
        <div class="container">
            <a class="navbar-brand fw-bold" href="#" style="font-size: 32px; color: #3B3389;">FitBazar</a>
            <form class="d-flex mx-auto" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"
                    style="height: 44px; width: 750px;">
                <button class="btn btn-outline-dark" type="submit"><i class="fas fa-search"></i></button>
            </form>
            <div>
                <a href="#" class="me-3"><i class="fa-regular fa-cart-shopping fa-xl" style="color: #000000;"></i></a>
                <a href="#"><i class="fa-solid fa-circle-user fa-xl" style="color: #4D44AD;"></i></a>
            </div>
        </div>
    </nav>

    <!-- 404 Error Content -->
    <div class="container error-container d-flex align-items-center justify-content-between gap-5 w-50">
        <div class="d-flex flex-column align-items-start justify-content-start">
            <h1 class="error-code">404. <span class="error-text fs-5 fw-light">Error occurred.</span></h1>
            <p class="fs-4 text-start">Woops. Looks like <br>this page doesn’t exist.</p>
            <p><a href="/" class="back-link fs-4">Back to Home</a></p>
        </div>
        <div class="error-image">
            <img src="/image1.png" alt="Error Illustration">
        </div>
    </div>
</body>