<body>
    
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg bg-light shadow-sm">
        <div class="container d-flex flex-column">
            <!-- First Line: Logo, Search Bar, Cart, Sign-Up -->
            <div class="d-flex w-100 justify-content-between align-items-center">
                <a class="navbar-brand fw-bold" style="font-size: 32px; color: #3B3389;" href="#">FitBazar</a>
                <form class="d-flex w-50">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn" type="submit" style="background-color: #4D44AD;"><i class="fa-solid fa-magnifying-glass" style="color: white;"></i></button>
                </form>
                <div class="d-flex align-items-center">
                    <a href="#" class="btn btn-outline-secondary me-3">🛒</a>
                    <a href="#" class="btn"  style="background-color: #4D44AD; color: white;">Sign Up</a>
                </div>
            </div>
    
            <!-- Second Line: Navigation Links -->
            <div class="w-100 d-flex justify-content-start mt-2">
                <ul class="nav gap-5 align-items-center">
                    <li class="nav-item">
                        <a class="nav-link active btn py-1 px-4" href="#" style="background-color: #4D44AD; color: white;">Home</a>
                    </li>
                    <li class="nav-item"><a class="nav-link text-dark" href="#">Shop</a></li>
                    <li class="nav-item"><a class="nav-link text-dark" href="#">Deals/Offers</a></li>
                    <li class="nav-item"><a class="nav-link text-dark" href="#">About Us</a></li>
                    <li class="nav-item"><a class="nav-link text-dark" href="#">Customer Support</a></li>
                </ul>
            </div>
            
        </div>
    </nav>
    
    
    <!-- Hero Section -->
    <section class="container-fluid hero-section mt-3">
        <div class="container d-flex p-0 align-items-center" style="background: #3B3389; color: white; border-radius: 15px;">
            <div class="w-50 d-flex flex-column align-items-start justify-content-center p-5">
                <h1 class="fw-bold" style="font-size: 66px;">Push Your Limits. Elevate Your Game!</h1>
                <h4 class="mt-3" >
                    Top-quality gym equipment, sports apparel, and adventure gear—everything you need 
                    to stay fit and conquer new challenges.
                </h4>
                <div class="mt-4 d-flex gap-3">
                    <a href="#" class="btn px-4 py-2" style="background-color: #4D44AD; color: white;">Shop Now</a>
                    <a href="#" class="btn btn-outline-light px-4 py-2">Explore →</a>
                </div>
            </div>
            <div class="w-50 d-flex justify-content-end">
                <img src="/hero-image.png" alt="Hero Image" class="hero-img">
            </div>
        </div>
    </section>
    
    <!-- Categories -->
    <div class="container my-5">
        <h3 class="fw-bold">Shop by Category</h3>
        <div class="row text-center p-3 mt-4 gap-3 justify-content-between">
            <div class="card p-3" style="width: 160px; height: 170px">
                <div class="rounded category-card">
                    <img src="./public/gym-symbol.png" alt="" class="p-3">
                    <h6>Gym & Training</h6>
                </div>
            </div>
            <div class="card p-3 align-items-center" style="width: 160px; height: 170px">
                <div class="rounded category-card align-items-center">
                    <img src="./public/yoga-image.png" alt="" class="p-2">
                    <h6 class="pt-1">Yoga & Wellness</h6>
                </div>
            </div>
            <div class="card p-3" style="width: 160px; height: 170px">
                <div class="rounded category-card">
                    <img src="./public/sports-items.png" alt="" class="p-3">
                    <h6>Sports Items</h6>
                </div>
            </div>
            <div class="card p-3" style="width: 160px; height: 170px">
                <div class="rounded category-card">
                    <img src="./public/explore.png" alt="" class="py-2">
                    <h6>Explore & Trek</h6>
                </div>
            </div>
            <div class="card p-3" style="width: 160px; height: 170px">
                <div class="rounded category-card">
                    <img src="./public/nutrition.png" alt="" class="pt-2">
                    <h6>Nutrition Foods</h6>
                </div>
            </div>
            <div class="card p-3" style="width: 160px; height: 170px">
                <div class="rounded category-card">
                    <img src="./public/martial.png" alt="" class="pt-2 pb-3">
                    <h6>Martial Arts</h6>
                </div>
            </div>
            <div class="card p-3" style="width: 160px; height: 170px">
                <div class="rounded category-card">
                    <img src="/water-sports.png" alt="" class="pt-2 pb-3">
                    <h6>Water Sports</h6>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Featured Banners -->
    <div class="container my-5">
        <div class="row">
            <div class="col-md-6">
                <div class="p-4 text-white d-flex rounded justify-content-between" style="background-color: #AB4C60;">
                    <div>
                        <h2>Gym & Equipment</h2>
                    <h4>Up to 40% Off</h4>
                    </div>
                    <img src="/kid-dumbbell.png" alt="" style="width: 150px;">
                </div>
                
            </div>
            <div class="col-md-6">
                <div class="p-4 bg-warning text-dark rounded">Sports Accessories - Up to 50% Off</div>
            </div>
        </div>
    </div>
    
    <!-- Footer -->
    <footer class="bg-dark text-white text-center py-4">
        <p>&copy; 2025 FitBazar - Your Sports & Fitness Partner. All Rights Reserved.</p>
    </footer>
    
</body>